/* Google fonts import - Font - Inter*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* headings and logo */
header {
    background-color: #000000;
    border-bottom: solid 10px rgb(255, 192, 55);
    height: 100px;
}


#navigation-bar,
#header_logo {
    line-height: 100px;
}

.logo {

    max-height: 100px;
    max-width: 168px;
    margin: 0 0.5rem;
    float: left;
}

a:hover .logo {

    transition: all 0.1s;
    opacity: .8;

}


/* Main Navigation Bar */

#navigation-bar {
    font-size: 110%;
    letter-spacing: 4px;

}

#navigation-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;

}

#navigation-bar a {
    text-decoration: none;
    color: rgb(255, 192, 55);
}

#navigation-bar a:hover {
    font-size: 110%;
    color: #000000;
    background-color: rgba(255, 192, 55);
    transition: all 0.1s;

}

/* Home Page Header Image */

#header-chicken-img {
    height: 450px;
    width: 100%;
    background: url("../images/chicken-specials.webp") no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h1 {

    color: rgb(255, 192, 55);
    text-transform: uppercase;
    font-size: 10vw;
    box-shadow: 5px 0px 10px black;
    background-color: rgb(0, 0, 0, .5);

    width: 100%;
}

/* Home Page Above Footer Image */

#home-above-footer-img {
    height: 450px;
    width: 100%;
    background: url("../images/bbq-chicken.webp") no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* Home Page Welcome Text */

#welcome {

    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;

}

#welcome-text {
    padding-top: 30px;
    padding-bottom: 30px;
}

#welcome-text>p {

    padding: 10px;
}

#welcome-text>hr {

    border: 1px solid rgba(255, 192, 55);
    margin-bottom: 5px;

}

#welcome-text>h2 {

    color: white;
}

/* Menu Page Header Image */

#chicken-menu {
    height: 450px;
    width: 100%;
    background: url("../images/perfect-chicken-plate.webp") no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* Menu Page Daily Dishes */

#dishes {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: black;
}

.order-button {
    background-color: rgb(255, 192, 55);
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.order-button:hover {
    opacity: .8;
}

.days {

    color: white;
    background-color: black;
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;

}

.days>hr {
    border: 0.5px solid rgb(255, 192, 55);
    margin-top: 5px;
    margin-bottom: 10px;

}

.days>h2,
h3 {
    color: rgba(255, 192, 55);
    margin-bottom: 5px;
}


.days>a>.img_days {

    max-height: 200px;
    max-width: 200px;
    transition: all 0.1s;

}

.days>a>.img_days:hover {

    opacity: .8;

}

/* Menu Page Above the Footer Image */

#menu-page {

    background: url("../images/chicken-sandwich-2.webp") no-repeat center center/cover;
    height: 450px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* Order Online Page - Above the Footer - Order Form and Google Map*/

#order-online-header {
    color: rgb(255, 192, 55);
    font-size: 5vw;
    box-shadow: 5px 0px 10px black;
    background-color: rgb(0, 0, 0, .5);
    width: 100%;

}

#order-online {
    background: url("../images/bbq-chicken.webp") no-repeat center center/cover;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    align-items: center;
    text-align: center;
    justify-content: center;
}

.order-online {
    padding: 20px;
    background-color: rgb(0, 0, 0);

}

#order-online div {

    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;

}

/* Order Online Page - Order Form */

#order-form {
    background-color: rgba(60, 60, 60, 0.7);
    padding: 30px;
}

#order-form-left {
    color: white;
    padding: 30px;
    border: rgb(255, 192, 55) 2px solid;
    text-align: left;

}

#order-form-left>h2 {
    color: rgb(255, 192, 55);

}

.order-form-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 28px;
    margin: 5px 0 20px 0;
    border: 1px solid rgb(255, 192, 55);
    border-radius: 2px;
    padding: 0 5px;
}

#order-form-left>button {
    background-color: rgb(255, 192, 55);
    color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 18px;
}

#order-form-left>button:hover {
    background-color: rgb(243, 190, 77);
    transition: all 0.1s;
    opacity: .8;
}

/* Order Online Page - Visit Us */

#visit-us-header {
    color: rgb(255, 192, 55);
    font-size: 5vw;
    text-align: center;
}

#visit-us {

    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    align-items: center;
    text-align: center;
    justify-content: center;
}

#visit-us div {

    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;

}

#hours {
    background-color: rgb(0, 0, 0);
    padding: 30px;
}

#hours>h2 {
    color: rgb(243, 190, 77);
    ;
}

#hours>hr {
    border: 1px solid rgb(243, 190, 77);
    width: 50%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

#address {
    background-color: rgb(0, 0, 0);
    padding: 30px;
}

#address>h2 {
    color: rgb(243, 190, 77);
    ;
}

#address>hr {
    border: 1px solid rgb(243, 190, 77);
    width: 50%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Order Online Page - Google Map*/


#order-form-map {
    padding: 30px;
    background-color: black;
    text-align: center;

}

#order-form-map>h2 {
    color: rgb(255, 192, 55);

}

#order-form-map>hr {
    border: 1px solid rgb(255, 192, 55);
    width: 50%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;

}

#dish {
    height: 100px;
    max-width: 100%;
    font-size: 20px;
}

/* Thank You Page - Header Image */

#thank-you-header {
    height: 450px;
    width: 100%;
    background: url("../images/bbq-chicken.webp") no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#thank-you {

    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;

}

.thank-you-text {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Body */

body {
    font-weight: 300;
    color: white;
    font-family: 'inter', sans-serif;
}

html {
    height: 100%
}

/* Footer */
#contact-us {
    background-color: black;
    border-top: solid 10px rgb(255, 192, 55);
    color: rgb(255, 192, 55);
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#contact-us li {
    font-size: 110%;
    padding: 5px;
    color: rgb(255, 192, 55);

}

#contact-us>#social-icons {
    display: flex;
    gap: 5px;
    color: rgb(255, 192, 55);

}

.icons {
    background-color: black;
    color: rgb(255, 192, 55);
    font-size: 30px;
    width: 50px;
}

.icons:hover {
    opacity: 0.7;
}

.container-directions {
    display: flex;
}

.container-directions-left {
    background: white;
    flex-basis: 600px;
    height: 500px;
    margin: 0;
    padding: 90px
}

.container-directions-right {
    background: white;
    width: 100%;
    padding: 0;
    text-align: justify;
}

.container-directions-right-inner {
    padding: 90px;
    width: auto;
}

/* Footer Logo */



.logo_footer {

    max-height: 100px;
    max-width: 168px;
    margin: 0 0.5rem;
    float: left;
}

a:hover .logo_footer {

    transition: all 0.1s;
    opacity: .8;

}


/* For larger to medium screens size from 1200px wide and down */
@media screen and (min-width: 601px) {

    .order-form-map {
        max-width: 100%;
    }

}

/* For small screens size from 600px wide and down */
@media screen and (max-width: 600px) {

    /* Navigation Bar */

    #navigation-bar {
        display: flex;
        flex-direction: column-reverse;
        float: right;
        margin-top: 15px;

    }

    #navigation-bar>li {

        letter-spacing: 2px;
        line-height: 1.5em;
        align-items: center;

    }

    ul>li>a:hover {
        background-color: rgb(255, 192, 55);
        color: black;
    }

    h2 {

        font-size: 6vw;

    }

    /* Order Page */
    .order-form-map {
        max-height: 300px;
        max-width: 300px;
    }

    #order-online-header {

        padding-top: 10px;

    }

    /* Footer */

    #contact-us {
        align-items: center;
        flex-direction: column;
        line-height: 1.5em;
    }

    #contact-us>#social-icons {
        display: inline-flex;
        padding-top: 15px;
        gap: 5px;
        color: rgb(255, 192, 55);

    }
        /* For small screens size from 600px wide and down */
@media screen and (max-width: 300px) {

    /* Navigation Bar */

    #navigation-bar {
        
        width: 20%;
        margin-right: 20px;
        margin-top: 15px;
    }

    /* Order Page */
    .order-form-map {
        max-height: 220px;
        max-width: 220px;
    }

    .logo {

        width: 50%;
        height: auto;
        margin-top: 15px;

    }

    }

}